@import "vars";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $ColorBackgroundPrimary;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: space-between;
    gap: 32px;
}

.top {
    height: 100vh;

    background-image: url(./img/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &Content {
        display: grid;
        grid-template-columns: repeat(8, 8fr);
        row-gap: 32px;
        padding-top: 216px;
        grid-column: span 8;

        &Header {
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
            color: $ColorTextPrimary;
            grid-column: span 8;
        }

        &Paragraph {
            width: 481px;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: $ColorTextPrimary;
            margin-bottom: 12px;
            grid-column: span 5;
        }
    }
}

.accentButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: $ColorButtonAccentDefault;
    color: $ColorTextPrimary;
    height: 48px;
    width: 234px;
    border-radius: 24px;
    border: none;
    grid-column: span 8;

    &:hover {
        background-color: $ColorButtonAccentHover;
    }

}

.games {
    padding-top: 128px;
    padding-bottom: 128px;

    &Card {
        position: relative;
        grid-column: span 4;
        border-radius: 16px;

        &Heading {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $ColorTextPrimary;
            position: absolute;
            left: 32px;
            bottom: 32px;
        }

        &Image {
            width: 100%;
        }

        &:hover {
            outline: $ColorBorderHover;
        }
    }
}